// Local
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscal;
}

html, body, #root {
  height: 100%;
  background: $color_background;
}

.btn-filter {
  background-color: $color_side_menu !important;
  opacity: .8 !important;

  &:hover {
    opacity: 1 !important;
  }
}

.c_loader {
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: $color_side_menu;
  animation: is-rotating 1s infinite;

  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }
}